.container {
	max-width: 940px;
  margin: auto;
}

// body {
//     width: 95%
// }

/* Site Navigation */
nav {
  margin-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

nav a {
  display: block;
  color: blue;
  padding: 10px 20px;
  background-color: lightgrey;
}

nav a:hover {
  background-color: #4e5a33;
}

@media screen and (max-width: 700px) {
  nav li {
    width: 33.332%;
    margin-right: 0;
  }

  nav a {
    padding: 15px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  nav li {
    width: 50%;
  }
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}


/* End Site Navigation */

